* {
    box-sizing: border-box;
}
.info_sheet {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    opacity: 0;
    z-index: -1;
    & > .wrapper {
        overflow: hidden;
        width: 100%;
        height: 100vh;
        padding: 50px;
        position: sticky;
        display: flex;
        top: 0;
        align-items: center;
        justify-content: center;
    }
}
svg.edit_pencil {
    display: none;
}
body.edit_mode svg.edit_pencil {
    display: block;
}
body.edit_mode [contenteditable] {
    cursor: text;
    outline: none;
    display: flex;
    flex-direction: row;
    text-decoration: none !important;
    & svg.edit_pencil {
        width: 10px;
        height: 10px;
        margin-left: 3px;
    }
}