.orders_list {
  width: max-content;
  padding: 5px 15px 5px 30px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.order {
  width: 600px;
  border-radius: 25px;
  border-collapse: collapse;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0px 15px;
    border-bottom: 1px solid #00000025;
    cursor: pointer;
    user-select: none;
  }

  .order_content {
    height: 0;
    transition: all .25s;
    overflow: hidden;

    .details {
      padding: 10px 10px 5px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 5px;

      .list {
        display: flex;
        gap: 5px;
        flex-direction: column;
      }
    }
  }

  .footer {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 50px;
    padding: 10px;

    .tag {
      height: 30px;
      display: flex;
      gap: 7px;
      align-items: center;
      padding: 5px 10px;
      border-radius: 15px;
      background-color: #00000010;
      user-select: none;

      .dot {
        width: 10px;
        height: 10px;
        display: block;
        border-radius: 15px;
      }

      .label {
        padding-bottom: 2px;
      }
    }
  }

  &.active {
    .order_content {
      height: calc-size(auto, size);
    }
  }
}
